* {
    font-family: "Verdana", "Arial", "sans-serif";
    box-sizing: border-box;
    font-size: 16px;
    padding: 4px;
    color: black;
}

/* indentation class for readability */
.indent {
    margin-left: 40px;
}

/* table outline */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

/* table cell size */
th, td {
    width: 300px;
    height: 50px;
}

/* lesson cell border */
.lesson {
    border: 1px solid black;
    position: relative;
}

.lessonSection {
    vertical-align: top;
}